<nav class="navbar navbar-expand-lg  navbar-light nav-style fixed-top py-0 ">
    <div class="container-fluid border-bottom border-dark border-2 ">
        <a class="navbar-brand" href="/">Rousy's Kitchen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">Recipes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        <label><b>Saladas</b></label>
                        <li><a class="dropdown-item" href="/recipes?seccion=sopas-aguadas-y-cremas">Sopas aguadas y
                                cremas</a>
                        </li>
                        <li><a class="dropdown-item" href="/recipes?seccion=sopas-secas-y-pastas">Sopas secas y
                                pastas</a></li>
                        <li><a class="dropdown-item" href="/recipes?seccion=carnes">Carnes</a></li>
                        <li><a class="dropdown-item" href="/recipes?seccion=soufflés">Soufflés</a></li>
                        <li><a class="dropdown-item" href="/recipes?seccion=ensaladas">Ensaladas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                            <label for=""><b>Dulces</b></label>
                        </li>
                        <li><a class="dropdown-item" href="/recipes?seccion=pasteles">Pasteles</a></li>
                        <li><a class="dropdown-item" href="/recipes?seccion=pie">Pie</a></li>
                        <li><a class="dropdown-item" href="/recipes?seccion=flan-y-gelatina">Flan y gelatina</a></li>
                        <li><a class="dropdown-item" href="/recipes?seccion=galletas-y-polvorones">Galletas y
                                polvorones</a></li>
                        <li><a class="dropdown-item" href="/recipes?seccion=nieve-y-otros">Nieve y otros</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="/login"></a>
                </li>
                <% if(currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipes/favorites">Favorites</a>
                    </li>
                    <% } %>
            </ul>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser){ %>
                    <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket fa-xl"></i>
                        Login</a>
                    <a class="nav-link" href="/register"><i class="fa-solid fa-address-card fa-xl"></i> Sign
                        Up</a>
                    <% } else {%>
                        <a class=" nav-link" href="/logout">Logout</a>
                        <% } %>
            </div>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" id="search-btn" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>