pre.show-recipe {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1em;
    text-align: justify;
    white-space: pre-wrap;
}

h1,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

a {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

button.btn {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

input.form-control {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    width: 100%;
}

/* Designn options */

body.body-style {
    background-color: #F4F2DE;
}

/*
div.card-body {
    background-color: #E9B384;
}

nav.nav-style {
    background-color: #7C9D96;
}
*/

/* /////////////////////////  */