pre.show-recipe {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1em;
    text-align: justify;
    white-space: pre-wrap;
}

h1,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

a {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

button.btn {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

input.form-control {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    width: 100%;
}

/* Designn options */

body.body-style {
    background-color: black;
}

h1#category-title{
    color: white;
}

/*
div.card-body {
    background-color: #E9B384;
}

nav.nav-style {
    background-color: #7C9D96;
}
*/

/* /////////////////////////  */

/* Modal styling*/
img.index-img {
    /* Estilos base aquí */
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

img.index-img:hover {
    transform: scale(1.03);
    border-color: red;
    transition: all 1s ease;
}

div.bg-style {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

/* Forms */


/*Buttons*/
.plain-button {
    /* Restablecer estilos predeterminados */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    /* Evitar el resaltado de enfoque al hacer clic */
    /* Agregar otros estilos si es necesario */
}

img.login {
    width: 50%;
    align-items: center;
}