<% layout('layouts/boilerplate.ejs') %>
    <h1>Login</h1>
    <div class="container-fluid ">
        <form class="needs-validation" action="/login" method="post" novalidate>
            <div class="mb-3 ">
                <label class="col-form-label" for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 ">
                <label class="col-form-label" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>