<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/newRecipe.css">


<div class="container col-md-5 col-xl-5 col-sm-5 mb-5">
    <h1 class="d-flex justify-content-center">Nueva Receta</h1>
    <form action="/recipes" method="post" class="mt-4 needs-validation" enctype="multipart/form-data" novalidate>
        <div class="mb-2">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="titulo" placeholder="Título..." required>
        </div>
        <div class="mb-2">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" name="imagen" id="imagen" class="form-control" required>
        </div>
        <div class="mb-2">
            <label for="" class="form-label">Tipo de Receta:</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipo" id="dulce" value="dulce" required>
                    <label class="form-check-label" for="dulce">Dulce</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipo" id="salada" value="salada" required>
                    <label class="form-check-label" for="salada">Salada</label>
                </div>
            </div>
        </div>
        <div class="mb-2">
            <label for="category" class="form-label">Categoría</label>
            <div>
            <select name="seccion" id="category" class="form-select" required>
                <option value="">Seleccionar Categoría</option>
                <option value="sopas-aguadas-y-cremas">Sopas Aguadas y Cremas</option>
                <option value="sopas-secas-y-pastas">Sopas Secas y Pastas</option>
                <option value="carnes">Carnes</option>
                <option value="soufflés">Soufflés</option>
                <option value="ensaladas">Ensaladas</option>
            </select>
        </div>
        </div>
        <div class="mb-2">
            <label for="" class="form-label">Ingredientes:</label>
            <div id="ingredient-container">
                <input type="text" class="form-control ingredient-input" name="ingredientes" placeholder="Ingrediente..." required>
            </div>
            <button type="button" class="btn btn-secondary mt-2" id="add-ingredient">Agregar Ingrediente</button>
        </div>
        <input type="hidden" id="ingredient-list" name="ingredientes" value="-">

        <div class="mb-2">
            <label for="" class="form-label">Procedimiento:</label>
            <div id="procedure-container">
                <input type="text" class="form-control procedure-input" name="proceso-1" placeholder="Paso 1..." required>
            </div>
            <button type="button" class="btn btn-secondary mt-2" id="add-procedure">Agregar Paso</button>
        </div>
        <input type="hidden" id="procedure-counter" name="procedureCounter" value="1">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Guardar Receta</button>
        </div>
    </form>

    <script src="/scripts/newRecipeSteps.js"></script>
</div>
