<% layout('layouts/boilerplate') %>

<div class="container">
    <h1 class="d-flex justify-content-center">Nueva Receta</h1>
    <div>
        <form action="/" method="post">
            <div class="mb-2">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="titulo" placeholder="Título...">
        </div>
        <div class="mb-2">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" name="imagen" id="imagen" class="form-control">
        </div>
        <div class="mb-2">
            <label for=""></label>
        </div>
        </form>
    </div>
</div>