<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center">
        <div class="col-lg-7 mb-5">
            <div class="card">
                <img src="<%= recipe.imagen %>" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= recipe.titulo %>
                    </h5>
                    <hr>
                    <h6 class="card-title recipe-headers"><b>Ingredientes:</b></h6>
                    <pre class="show-recipe"><%= recipe.ingredientes %></pre>
                    <hr>
                    <h6 class="card-title"><b>Preparación:</b></h6>
                    <pre class="show-recipe"><%= recipe.proceso %></pre>
                </div>
            </div>
        </div>
    </div>